<% // ***************************************** %>
<% // ************ toLink function ************ %>
<% // ***************************************** %>

<%
function toLink(rootPath, list) {
  var o = '';
  var c = '';

  if (!list) return; 

  list.split(',').forEach((item) => {
%>
  <a href="/<%-rootPath%>/<%=item%>"><%= item %></a>
<%
  });
};
%>

<%
  var link = `/${article.system.filePath}/`;
  var image = `${link}${article.info.main_image}`;
  var titleMaybeLink = `<a href="/${article.system.filePath}/">${article.info.title}</a>`;

  var a = article;
%>

<div class="article">
  <img class="img-fluid" src="<%- image %>">

  <% if (a.info.section) { %>
    <div class="initialism text-muted">
      <%= toLink('sections', a.info.section) %>
    </div>
  <% } %>

  <!--
  <% if (a.info.book ) { %>
    <div class=" initialism text-muted">
      <%- toLink('sections', a.info.book ); %>
    </div>
  <% } %>
  -->

  <div><%= toLink('authors', a.info.authors) %></div>
  <div><%= new Date(a.info.published).toLocaleDateString() %></div>
  <div><a href="http://fsmsh.com/<%=a.info.nid%>">fsmsh.com/<%= a.info.nid %></a></div>

  <h4><%- titleMaybeLink %></h4>
  <div><%= toLink('tags', a.info.tags || '') %></div>
</div>