<%
	function strToArray(str) {
		if (!str) return [];
		
		return str.split(',').map(function(item) {
			return item.replace('_', ' ').trim();
		});
	}
	
	var url = `/${article.system.filePath}/`;
	var img = `${url}${article.info.main_image}`;
	var date = new Date(article.info.published).toLocaleDateString();
	var sections = strToArray(article.info.section);
	var authors = strToArray(article.info.authors);
%>

<div class="card article-card">
	<a href="<%= url %>">
		<div class="card-img-top embed-responsive embed-responsive-3by4 article-card-img" >
			<div class="embed-responsive-item article-card-img-item" style="background-image: url(<%= img %>)"></div>
		</div>
	</a>
	<div class="card-block article-card-block">
		<% if (article.info.section) { %>
			<p class="article-card-sectionname">
				<% sections.forEach(function(section) { %>
					<a href="/sections/<%= section %>"><%= section %></a>
				<% }); %>
			</p>
		<% } %>

		<h5 class="card-title article-card-title">
			<a href="<%= url %>">
				<%= article.info.title %>
			</a>
		</h5>

		<p class="article-card-meta">
			by
			<% authors.forEach(function(author) { %>
				<a href="/authors/<%= author %>"><%= author %></a>
			<% }); %>
			&ndash;
			<%= date %>
		</p>
	</div>
</div>