<div class="card issue-card">
	<a href="<%= url %>">
		<div class="card-img-top embed-responsive embed-responsive-3by4 issue-card-img" >
			<div class="embed-responsive-item issue-card-img-item" style="background-image: url(<%= img %>)"></div>
		</div>
	</a>
	<div class="card-block issue-card-block">
		<a href="<%= url %>">
			<h5 class="card-title mb-0"><%= title %></h5>
		</a>
		<p class="card-text text-muted"><%= date %></p>
	</div>
</div>